@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f7;
  color: #111;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
