@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f1412;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
